        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'environmentTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'environmentTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-4">
                                                    <label for="1">{{'environmentCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'environmentCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validEnvironmentCode}"  />
                                                    <small class='p-error' *ngIf='!validEnvironmentCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="2">{{'environmentLastname' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'environmentLastname' | translate}}" id="2" [(ngModel)]="item.lastname"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-4">
                                                    <label for="3">{{'environmentFirstname' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'environmentFirstname' | translate}}" id="3" [(ngModel)]="item.firstname"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-3">
                                                <label for="4">{{'environmentGender' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="genders" [(ngModel)]="item.gender" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'environmentGender' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-4">
                                                    <label for="5">{{'environmentDateofbirth' | translate}}</label>
                                                    <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'environmentDateofbirth' | translate}}"  [(ngModel)]="item.dateofbirth"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-4">
                                                    <label for="6">{{'environmentAge' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'environmentAge' | translate}}" id="6" [(ngModel)]="item.age"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-3">
                                                <label for="7">{{'environmentAgeCategory' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="ageCategorys" [(ngModel)]="item.ageCategory" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'environmentAgeCategory' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-3">
                                                <label for="8">{{'environmentDataImportExport' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="dataImportExports" [(ngModel)]="item.dataImportExport" id="8" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'environmentDataImportExport' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
