
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'laboratoryTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'laboratoryTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Nom' | translate}}" autofocus  id="2" [(ngModel)]="item.nom">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-4">
                        <div  class="label-inputswitch">
                            <label for="3">{{'Bloqued' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="item.bloqued"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'City' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'City' | translate}}" autofocus  id="4" [(ngModel)]="item.city">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="6">{{'Location' | translate}}</label>
                        <p-dropdown [options]="locations" [(ngModel)]="item.location" id="6" [disabled]="true" optionLabel="code" placeholder="{{'Location' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="7">{{'Data import export' | translate}}</label>
                        <p-dropdown [options]="dataImportExports" [(ngModel)]="item.dataImportExport" id="7" [disabled]="true" optionLabel="code" placeholder="{{'Data import export' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="10">{{'Dataanalysis' | translate}}</label>
                        <p-dropdown [options]="dataanalysiss" [(ngModel)]="item.dataanalysis" id="10" [disabled]="true" optionLabel="code" placeholder="{{'Dataanalysis' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="11">{{'Dataarchive' | translate}}</label>
                        <p-dropdown [options]="dataarchives" [(ngModel)]="item.dataarchive" id="11" [disabled]="true" optionLabel="code" placeholder="{{'Dataarchive' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="12">{{'Report' | translate}}</label>
                        <p-dropdown [options]="reports" [(ngModel)]="item.report" id="12" [disabled]="true" optionLabel="code" placeholder="{{'Report' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="laboratoryAntibiotic">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.antibiotic" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th>Nom</th>
                                        <th>Microbiology</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.code}}</td>
                                        <td>{{p.nom}}</td>
                                        <td>{{p.microbiology?.code}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="laboratoryAlerts">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.alerts" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Nom</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.code}}</td>
                                        <td>{{p.description}}</td>
                                        <td>{{p.nom}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="laboratoryNotifications">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.notifications" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Code</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.code}}</td>
                                        <td>{{p.nom}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



