        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'microbiologyTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'microbiologyTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-3">
                                                    <label for="1">{{'microbiologyCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validMicrobiologyCode}"  />
                                                    <small class='p-error' *ngIf='!validMicrobiologyCode'>Code est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-2">
                                                <label for="2">{{'microbiologyOrganism' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="organisms" [(ngModel)]="item.organism" id="2" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'microbiologyOrganism' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-2">
                                                <label for="3">{{'microbiologySeroType' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="seroTypes" [(ngModel)]="item.seroType" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'microbiologySeroType' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="field col-12 md:col-3">
                                                    <label for="4">{{'microbiologyBetalactamase' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyBetalactamase' | translate}}" id="4" [(ngModel)]="item.betalactamase"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="5">{{'microbiologyEsbl' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyEsbl' | translate}}" id="5" [(ngModel)]="item.esbl"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="6">{{'microbiologyCarbapenemase' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyCarbapenemase' | translate}}" id="6" [(ngModel)]="item.carbapenemase"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="7">{{'microbiologyMrsa' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyMrsa' | translate}}" id="7" [(ngModel)]="item.mrsa"
                                                             />
                                                    
                                                </div>



                                                <div class="field col-12 md:col-3">
                                                    <label for="8">{{'microbiologyInducibleClindamycinResistance' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'microbiologyInducibleClindamycinResistance' | translate}}" id="8" [(ngModel)]="item.inducibleClindamycinResistance"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-2">
                                                <label for="9">{{'microbiologyAntibiotic' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="antibiotics" [(ngModel)]="item.antibiotic" id="9" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'microbiologyAntibiotic' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-2">
                                                <label for="10">{{'microbiologyDataImportExport' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="dataImportExports" [(ngModel)]="item.dataImportExport" id="10" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'microbiologyDataImportExport' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
