        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'animalTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'animalTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-4">
                                            <label for="1">{{'animalCode' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'animalCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validAnimalCode}"  />
                                            <small class='p-error' *ngIf='!validAnimalCode'>Code est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="2">{{'animalName' | translate}}<span style="color: red;">*</span></label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'animalName' | translate}}" id="2" [(ngModel)]="item.name"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validAnimalName}"  />
                                            <small class='p-error' *ngIf='!validAnimalName'>Name est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="3">{{'animalGender' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="genders" [(ngModel)]="item.gender" id="3"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'animalGender' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                        <div class="field col-12 md:col-4">
                                            <label for="4">{{'animalAge' | translate}}</label>
                                            <input   appendTo="body" class="mb-2 mr-2" type="text" pInputText placeholder="{{'animalAge' | translate}}" id="4" [(ngModel)]="item.age"
                                                     />
                                            
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="5">{{'animalAgeCategory' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="ageCategorys" [(ngModel)]="item.ageCategory" id="5"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'animalAgeCategory' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="6">{{'animalAnimalSpecie' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="animalSpecies" [(ngModel)]="item.animalSpecie" id="6"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'animalAnimalSpecie' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateAnimalSpecie('AnimalSpecie')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="7">{{'animalAnimalType' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="animalTypes" [(ngModel)]="item.animalType" id="7"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'animalAnimalType' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateAnimalType('AnimalType')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="8">{{'animalMarketCategory' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="marketCategorys" [(ngModel)]="item.marketCategory" id="8"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="libelle" placeholder="{{'animalMarketCategory' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>

                                    <div class="field col-11 md:col-3">
                                            <label for="9">{{'animalDataImportExport' | translate}}</label>
                                            <p-dropdown   appendTo="body" [options]="dataImportExports" [(ngModel)]="item.dataImportExport" id="9"[filter]="true" filterMatchMode="contains"
                                                    [showClear]="true" optionLabel="code" placeholder="{{'animalDataImportExport' | translate}}"  >
                                            </p-dropdown>
                                            
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-animal-specie-create-admin></app-animal-specie-create-admin>
                    <app-animal-type-create-admin></app-animal-type-create-admin>


    </p-dialog>
