
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'dataImportExportTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'dataImportExportTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Location data' | translate}}</label>
                        <p-dropdown [options]="locationDatas" [(ngModel)]="item.locationData" id="2" [disabled]="true" optionLabel="code" placeholder="{{'Location data' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Specimen' | translate}}</label>
                        <p-dropdown [options]="specimens" [(ngModel)]="item.specimen" id="3" [disabled]="true" optionLabel="code" placeholder="{{'Specimen' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'Microbiology' | translate}}</label>
                        <p-dropdown [options]="microbiologys" [(ngModel)]="item.microbiology" id="4" [disabled]="true" optionLabel="code" placeholder="{{'Microbiology' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



