
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'animalTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'animalTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="1">{{'Code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Code' | translate}}" autofocus  id="1" [(ngModel)]="item.code">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="2">{{'Name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Name' | translate}}" autofocus  id="2" [(ngModel)]="item.name">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="3">{{'Gender' | translate}}</label>
                        <p-dropdown [options]="genders" [(ngModel)]="item.gender" id="3" [disabled]="true" optionLabel="libelle" placeholder="{{'Gender' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="4">{{'Age' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Age' | translate}}" autofocus  id="4" [(ngModel)]="item.age">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="5">{{'Age category' | translate}}</label>
                        <p-dropdown [options]="ageCategorys" [(ngModel)]="item.ageCategory" id="5" [disabled]="true" optionLabel="libelle" placeholder="{{'Age category' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="6">{{'Animal specie' | translate}}</label>
                        <p-dropdown [options]="animalSpecies" [(ngModel)]="item.animalSpecie" id="6" [disabled]="true" optionLabel="libelle" placeholder="{{'Animal specie' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="7">{{'Animal type' | translate}}</label>
                        <p-dropdown [options]="animalTypes" [(ngModel)]="item.animalType" id="7" [disabled]="true" optionLabel="libelle" placeholder="{{'Animal type' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="8">{{'Market category' | translate}}</label>
                        <p-dropdown [options]="marketCategorys" [(ngModel)]="item.marketCategory" id="8" [disabled]="true" optionLabel="libelle" placeholder="{{'Market category' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



