        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'antibioticTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'antibioticTabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'antibioticCode' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'antibioticCode' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validAntibioticCode}"  />
                                                    <small class='p-error' *ngIf='!validAntibioticCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'antibioticNom' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'antibioticNom' | translate}}" id="2" [(ngModel)]="item.nom"
                                                             />
                                                    
                                                </div>



                                            <div class="field col-11 md:col-5">
                                                <label for="3">{{'antibioticMicrobiology' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="microbiologys" [(ngModel)]="item.microbiology" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'antibioticMicrobiology' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-12  md:col-6">
                                                <label>Laboratory</label>
                                                <p-multiSelect [options]="laboratoryAntibiotics" [(ngModel)]="item.laboratoryAntibiotics" itemSize="30" [virtualScroll]="true"
                                                                                                                          defaultLabel="Select un laboratory" optionLabel="laboratory.code"  display="chip"></p-multiSelect>
                                            </div>
                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-step">
                        <div style="margin-left: auto;">
                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                        </div>
                        <div>
                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                        </div>

                </div>
            </ng-template>



    </p-dialog>
