<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 mb-2" (click)="openCreate('Microbiology')"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-warning mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="1" type="text"  [(ngModel)]="criteria.codeLike">
                            <label for="1">{{'Code' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="organisms" [(ngModel)]="criteria.organism" id="2" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Organism' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="seroTypes" [(ngModel)]="criteria.seroType" id="3" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Sero type' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="4" type="text"  [(ngModel)]="criteria.betalactamaseLike">
                            <label for="4">{{'Betalactamase' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="5" type="text"  [(ngModel)]="criteria.esblLike">
                            <label for="5">{{'Esbl' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="6" type="text"  [(ngModel)]="criteria.carbapenemaseLike">
                            <label for="6">{{'Carbapenemase' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="7" type="text"  [(ngModel)]="criteria.mrsaLike">
                            <label for="7">{{'Mrsa' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <input class="mr-2" pInputText id="8" type="text"  [(ngModel)]="criteria.inducibleClindamycinResistanceLike">
                            <label for="8">{{'Inducible clindamycin resistance' | translate}}</label>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="antibiotics" [(ngModel)]="criteria.antibiotic" id="9" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Antibiotic' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </span>
                        <span class=" p-float-label mr-3 align-search-items mt-4">
                            <p-dropdown [options]="dataImportExports" [(ngModel)]="criteria.dataImportExport" id="10" [filter]="true"
                                        [showClear]="true"  placeholder="{{'Data import export' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['code', 'organismlibelle', 'seroTypelibelle', 'betalactamase', 'esbl', 'carbapenemase', 'mrsa', 'inducibleClindamycinResistance', 'antibioticcode', 'dataImportExportcode']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'Les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'microbiologyHeader' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="organism">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Organism' | translate}}</span>
                                <p-sortIcon field="organism"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="seroType">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Sero type' | translate}}</span>
                                <p-sortIcon field="seroType"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="betalactamase">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Betalactamase' | translate}}</span>
                                <p-sortIcon field="betalactamase"></p-sortIcon>
                                <p-columnFilter type="text" field="element.betalactamase" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="esbl">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Esbl' | translate}}</span>
                                <p-sortIcon field="esbl"></p-sortIcon>
                                <p-columnFilter type="text" field="element.esbl" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="carbapenemase">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Carbapenemase' | translate}}</span>
                                <p-sortIcon field="carbapenemase"></p-sortIcon>
                                <p-columnFilter type="text" field="element.carbapenemase" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="mrsa">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Mrsa' | translate}}</span>
                                <p-sortIcon field="mrsa"></p-sortIcon>
                                <p-columnFilter type="text" field="element.mrsa" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="inducibleClindamycinResistance">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Inducible clindamycin resistance' | translate}}</span>
                                <p-sortIcon field="inducibleClindamycinResistance"></p-sortIcon>
                                <p-columnFilter type="text" field="element.inducibleClindamycinResistance" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="antibiotic">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Antibiotic' | translate}}</span>
                                <p-sortIcon field="antibiotic"></p-sortIcon>
                            </div>
                        </th>
                                
                                <!-- 
                        <th pSortableColumn="dataImportExport">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'Data import export' | translate}}</span>
                                <p-sortIcon field="dataImportExport"></p-sortIcon>
                            </div>
                        </th>
                                --> 
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.code}}</td>
                            
                            
                        <td>{{element.organism?.libelle}}</td>
                            
                            
                        <td>{{element.seroType?.libelle}}</td>
                            
                            
                        <td>{{element.betalactamase}}</td>
                            
                            
                        <td>{{element.esbl}}</td>
                            
                            
                        <td>{{element.carbapenemase}}</td>
                            
                            
                        <td>{{element.mrsa}}</td>
                            
                            
                        <td>{{element.inducibleClindamycinResistance}}</td>
                            
                            
                        <td>{{element.antibiotic?.code}}</td>
                            
                             <!-- 
                        <td>{{element.dataImportExport?.code}}</td>
                             --> 
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="edit(element)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info mr-2" (click)="view(element)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning" (click)="duplicate(element)"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'microbiology' : 'microbiologys' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-microbiology-create-admin></app-microbiology-create-admin>
        <app-microbiology-edit-admin></app-microbiology-edit-admin>
        <app-microbiology-view-admin></app-microbiology-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
